<%= render "layouts/navbar2" %>
</br>
<h1> Bienvenido a vialidad<%= $maistros.name %> </h1>
</br>
  <dd>
<% $showgs.each do |showg| %>
  <button style="height:50px;width:200px">
  <%= link_to showg.name, showg %>
  </button>
<% end %>
</dd>