<%= render "layouts/navbar" %>
</br>
<h1> Bienvenido <%= $maistros.name %> </h1>
</br>


  <% @showgs.each do |showg| %>
    <dd>
      <a href="/groups/<%= showg.group_id%>">
      <button style="height:50px;width:200px">  
      <%= showg.name%>
      </a>
    </dd>
  <% end %>



