<%= render "layouts/navbar2" %>
<br>
<br>
<h1>Alumnos2222 <%= @salon.name %>  </h1>
<br>
<table>
  <thead>
    <tr>
      <th>Nombre</th>  
      </tr>
  </thead>

  <tbody>
    <% @stus.each do |stu| %>
      <tr>
        <td><%= stu.name %></td>
       </tr>
   <% end %>
  </tbody>
</table>
<br>
<br>
<br>
<br>
<br>
<br>