<div class="m-4">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">Oxschool</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="#" class="nav-item nav-link active">Home</a>
                    <!--<a href="#" class="nav-item nav-link">Profile</a>-->
                    <!--<a href="#" class="nav-item nav-link">Messages</a> -->
                    <!--<a href="#" class="nav-item nav-link disabled" tabindex="-1">Reports</a> -->
                </div>
                <div class="navbar-nav ms-auto navbar-dark bg-primary">
                    <a <%= link_to "Sign Out", destroy_user_session_path, :method => 'delete', :class => "nav-item nav-link active" %> </a>
                </div>
            </div>
        </div>
    </nav>
    </div>
 
    <!-- You will not be able to see this text. -->
    
